<h3> Featured Projects </h3>

{% for project in page.projects %}
<div class="project-row">
    <img alt="mountains" src="{{ project.image | prepend: site.baseurl }}" class="project-image" />
    <h3>{{ project.title }}</h3>
    <div class="project-icons-row">
        {% for icon in project.icons %}
            <div class="project-icon">
            {% include_relative {{ icon | prepend: '/images/svg/' | append: '.svg' }} %}
            </div>
        {% endfor %}
    </div>
    <p>{{ project.description }}</p>
    <a class="btn" href="{{ project.link }}">Check it out</a>
</div>
{% endfor %}